<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %> <%= person.last_name %></td>
        <td>
          <ul><%= link_to 'Show', person %></ul>
          <ul><%= link_to 'Edit', edit_person_path(person) %></ul>
          <ul><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p id="new_person"><%= link_to 'New Person', new_person_path %></p>
